body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

h2 {
    color: #333;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

li {
    color: #666;
    margin-bottom: 5px;
}

.toMainHref {
    color: #6060ff;
    text-decoration: none;
}